:root {
  --color-green: #34c176;
  --color-orange: #f89202;
  --color-pink: #ff4157;
  --color-purple: #5328A1;
  --color-brown: #95390c;
  --color-white: #fff;
  --color-grey: #8c8c8c;
  --color-light: #cacaca;
  --color-555: #555;
  --color-blue: #08020d;
  --color-link-secondary: #808080;
}

