button {
  border: none;
}

.btn {
  display: inline-block;
  padding: 18px 30px;

  border: 1px solid transparent;
  border-radius: 5px;
  
  text-transform: uppercase;
  text-decoration: none;

  line-height: 1.16;

  cursor: pointer;
  &.border-width-4 {
    padding: 12px 30px;
  }

  @include media(extrasmall) {
    width: 100%;
  }
}

.btn-large {
  padding: 18px 57.56px;
}

.btn-primary {
  color: var(--color-white);

  background-color: var(--color-green);
}

.btn-pink {
  color: var(--color-white);

  background-color: var(--color-pink);
}

.btn-full {
  width: 100%;
}

.btn-outline-white {
  border-color: var(--color-white);
  color: var(--color-white);
  background-color: transparent;
}

.btn-outline-grey {
  border-color: #e9e9e9;
  color: var(--color-grey);
  background-color: transparent;
}