.news {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 30px;

  @include media(small) {
    flex-direction: column;
  }
}

.news-img {
  width: 100%;
  height: auto;
}

.news-author {
  width: 221px;
  height: 28px;
}

.news-author-sep {
  width: 1px;
  height: 11px;

  background: #b8b8b8;
}

.news-author-date {
  color: var(--color-555);
}

.news-info {
  @include media(small) {
    order: 1;
  }
}

.news-btn {
  padding: 8px 30px;
  line-height: 28px;
}
