.similar-artist-wrap {
  gap: 50px;
  @include media(small) {
    gap: 50px 20px;
  }
}

.similar-artist {
  text-align: center;
}

.similar-artist-img {
  position: relative;

  margin-bottom: 15px;
  max-width: 250px;
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.similar-artist-title {
  @include responsive-font-size(16, 20);
  margin-bottom: 10px;

  text-transform: none;
  font-weight: 700;
}

.similar-artist-fans {
  @include responsive-font-size(14, 16);  
}
