.subscription {
  display: flex;
  justify-content: space-between;
  @include media(large) {
    flex-wrap: wrap;
    // safari не поддерживает
    gap: 50px;
    justify-content: center;        
  }
}

.subscription-info {
  @include responsive-font-size(12, 22);

  color: var(--color-white);
  text-align: center;  
}

.subscription-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 352px;
  padding: 25px 25px 60px;

  background-repeat: no-repeat;
  background-size: contain;  

  @include media(large) {
    width: 280px;   
    padding: 20px 20px 15px;    
  }
}

.subscription-item-title {
  margin-bottom: 220px;
  @include media(large) {
    margin-bottom: 160px;
  }
}

.subscription-item-font {
  @include responsive-font-size(16, 24);  
}

.subscription-item-currency {
  padding-top: 7px;
}

$subscription: (
  free: "'../images/subscribe_1.png'",
  standart: "'../images/subscribe_2.png'",
  premium: "'../images/subscribe_3.png'",
);

@each $tarif, $url in $subscription {
  .subscription-item-#{$tarif} {
    background-image: url(#{$url});
  }
}
