.subscription-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 352px;
  height: 580px;
  padding: 25px 25px 60px;

  background-size: contain;
  background-repeat: no-repeat;
}

.subscription-item-currency {
  padding-top: 7px;
}

$subscription: (
  free: "'../../images/subscribe_1.png'",
  standart: "'../../images/subscribe_2.png'",
  premium: "'../../images/subscribe_3.png'"
);

@each $tarif, $url in $subscription {
  .subscription-item-#{$tarif} {
    background-image: url(#{$url});
  }  
}



