.banner {
  position: relative;

  width: 100%;
  padding: 272px 0 248px;
  &:before {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../images/banner.png);

    content: '';
  }
  @include media(medium) {
    padding-bottom: 200px;
  }
  @include media(small) {
    padding-bottom: 100px;
  }
  @include media(custom, 375px) {
    padding-bottom: 44px;
  }
}