.footer {
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);

  a {
    text-decoration: none;
    color: var(--color-light);
  }
}
.menu-footer {
  color: var(--color-light);
}
.menu-footer-end {
  width: 534px;
}