.row {
  position: relative;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

// формируем сетку

@for $i from 1 to 13 {
  .col-#{$i} {
    grid-column: span #{$i};
    
  }
}
@each $breakpoint, $value in $breakpoints {
  @for $i from 1 to 13 {
    .col-#{nth($value, 2)}-#{$i} {
      @include media($breakpoint) {
        grid-column: span #{$i};    
      }    
    }
  }
}
