.header {
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 1;

  width: 100%;
  height: 30px;  

  font-size: 11px;
  line-height: 1.18;  
}

.menu {
  width: 405px;  
  &-item {
    color: var(--color-link-secondary);
    font-weight: 700;
    text-transform: uppercase;
    
    &.active {
      color: var(--color-white);
    }
  }
  @include media(medium) {
    margin: auto;
    &-item {
      margin-bottom: 10px;
    }
  }
  @include media(small) {
    width: 100%;
    max-width: 405px;    
  }
  @include media(extrasmall) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;    
  }
}


.search {
  @include media(extrasmallcustom, 500px) {
    flex: 1 0 100%;
  }
}

.search-input {
  width: 278px;
  height: 30px;
  padding-right: 14px;
  padding-left: 14px;

  color: #808080;

  background: #3c3b3d;
  border: 0;
  border-radius: 50px;

  &:focus,
  &:hover {
    outline: none;
  }
}

.nav {
  @include media(medium) {
    flex-basis: 100%;
    order: 1;
    margin-top: 20px;    
  }
}