@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/global";

@import "components/registration-form";
@import "components/btn";
@import "components/subscription";
@import "components/news";
@import "components/mobile-app";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background: var(--color-blue);

  font-family: 'Roboto', sans-serif;
  color: var(--color-white);

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', sans-serif;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul > li {
  list-style: none;
}

.container {
  position: relative;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto 100px;

  overflow: hidden;
  @include media(large) {
    padding: 0 20px;
  }
  @include media(small) {
    margin-bottom: 90px;
  }
}

@import "layout/grid";
@import "layout/header";
@import "layout/banner";
@import "layout/footer";
